frontend go-demo-app-fe
	bind *:80
	bind *:443
	option http-server-close
	acl url_test-service path_beg /demo
	use_backend go-demo-app-be if url_test-service

backend go-demo-app-be
	{{ range $i, $e := service "SERVICE_NAME" "any" }}
	server {{$e.Node}}_{{$i}}_{{$e.Port}} {{$e.Address}}:{{$e.Port}} check
	{{end}}
